body {
	margin-left: 5px;
	margin-right: 5px;
}

#newURL{
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
}

#addURLButton, #addURLField{
	padding: 4px 4px;
	font-size: 1rem;
	border-radius: 0;
	border: 1px solid #aaaaaa;
	background-color: #eeeeee;
}

#addURLField {
	margin-right: 2px;
	flex-grow: 1;
}
#addURLButton{
	float: right;
	transition-duration: 0.2s;
}
#addURLButton:hover{
	background-color: #fefefe;
	border: 1px solid grey;
}

.removeButton{
	display: inline-block;
	float: right;
}

.urlEntry{
	padding: 5px;
	border: 1px solid #fefefe;
	background-color: #eeeeee;
}

.heading{
	padding-top: 10px;
	font-weight: normal;
}
