* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

body {
	margin-left: 5px;
	margin-right: 5px;
}


h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: normal;
}

.p-1 {
	padding: 2px;
}
.p-2 {
	padding: 4px;
}
.p-3 {
	padding: 8px;
}

.m-1 {
	margin: 2px;
}
.m-2 {
	margin: 4px;
}
.m-3 {
	margin: 8px;
}
.ml-3 {
	margin-left: 8px;
}
.mt-3 {
	margin-top: 8px;
}
.mb-3 {
	margin-bottom: 8px;
}
.font-lg {
	font-size: large;
}

.title-20 {
	font-size: 17px;
	font-weight: 500;
}

.title-10 {
	font-size: 13px;
	font-weight: 500;
}

.body-10 {
	font-size: 13px;
	font-weight: 400;
}
.extra-light {
	font-weight: 200;
}
.uppercase {
	text-transform: uppercase;
}

.bolder {
	font-weight: bolder;
}
.bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

#newURL{
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
}

#addURLButton, #addURLField{
	font-size: 13px;
	padding: 3px;
	border-radius: 2px;
	border: 1px solid #aaaaaa;
}

#addURLField {
	margin-right: 2px;
	flex-grow: 1;
}
#addURLButton{
	float: right;
	transition-duration: 0.2s;
}
#addURLButton:hover{
	background-color: #fefefe;
	border: 1px solid grey;
}
#header img{
	height: 36px;
	width: 36px;
	border-radius: 50%;
}

.removeButton{
	display: inline-block;
	float: right;
	font-weight: 500;
	font-size: 13px;
}

.urlEntry {
	padding: 5px;
	border: 1px solid #fefefe;
	background-color: #eeeeee;
	font-weight: 400;
	font-size: 13px;
}

.heading {
	padding-top: 10px;
	font-weight: normal;
}

.se-with-switch {
	padding: 10px 4px 10px 4px;
	border: 1px solid rgb(243, 239, 239);
	border-radius: 10px;
}
