* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;}

body {
	margin-left: 5px;
	margin-right: 5px;
}


h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: normal;
}

.p-1 {
	padding: 2px;
}
.p-2 {
	padding: 4px;
}
.p-3 {
	padding: 8px;
}

.m-1 {
	margin: 2px;
}
.m-2 {
	margin: 4px;
}
.m-3 {
	margin: 8px;
}

.font-lg{
	font-size: large;
}

.uppercase {
	text-transform: capitalize;
}

.bolder {
	font-weight: bolder;
}
.bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}



#newURL{
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
}

#addURLButton, #addURLField{
	padding: 4px 4px;
	font-size: 1rem;
	border-radius: 0;
	border: 1px solid #aaaaaa;
	background-color: #eeeeee;
}

#addURLField {
	margin-right: 2px;
	flex-grow: 1;
}
#addURLButton{
	float: right;
	transition-duration: 0.2s;
}
#addURLButton:hover{
	background-color: #fefefe;
	border: 1px solid grey;
}

.removeButton{
	display: inline-block;
	float: right;
}

.urlEntry{
	padding: 5px;
	border: 1px solid #fefefe;
	background-color: #eeeeee;
}

.heading{
	padding-top: 10px;
	font-weight: normal;
}